body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body{
	position: absolute;
	width: 100vw;
	height: 100vh;
}

.start-screen{
	text-align: center;
	margin: calc(25% - 200px) auto 0px auto;
	width: 200px;
	height: 200px;
}

.noClick{
	opacity:0.5;
	pointer-events: none;
	user-select: none;
}