body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body{
	position: absolute;
	width: 100vw;
	height: 100vh;
}

.start-screen{
	text-align: center;
	margin: calc(25% - 200px) auto 0px auto;
	width: 200px;
	height: 200px;
}

.noClick{
	opacity:0.5;
	pointer-events: none;
	user-select: none;
}

.timer{
	height:30px;
	width: 30px;
	background-color: black;
	animation: mymove 5s;
	animation-fill-mode: forwards;
	position: relative;
}

.timer.one{
	animation-delay: 0s;
}
.timer.two{
	animation-delay: 5s;
}
.timer.three{
	animation-delay: 10s;
}
.timer.four{
	animation-delay: 15s;
}
.timer.five{
	animation-delay: 20s;
}
.timer.six{
	animation-delay: 25s;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}