*{
	font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size:20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body{
	position: absolute;
	width: 100%;
	height: 100%;
}

.start-screen{
	text-align: center;
	margin-top: 100px;
}

.start-screen p{
	margin-bottom:15px;
}

.start-game{
	margin-top:100px;
}

.flip-2-hor-top-1.card span{
	display: block;
	margin-bottom:20px;
}

.cards{
    display: flex;
    width: 60%;
    margin: 60px auto 0px;
}

.start-screen div, .card {
	width:260px;
	height:460px;
	font-size:20px;
	padding:20px;
	margin:0 auto;
	text-align: left;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius:20px;
}

.start-screen button{
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 0px;
	display: block;
}

.start-screen button:disabled{
	opacity: 0.1;
}

p#id{
	font-size:20px;
}

button {
	color:black;
	background-color:transparent;
	border: 2px solid black;
	border-radius: 5px;
	margin-bottom: -10px;
	padding:5px;
    margin-left: 30px;
    padding: 5px 25px;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

.start-screen input{
	width:80%;
  display:block;
}

.start-screen input, input{
	outline:none;
  border: none;
  border-bottom: 2px solid black;
  background-color:transparent;
  margin-right: 10px;
  -webkit-appearance: none;
  border-radius: 0;
}

.quip{
    color: white;
    transform: rotate(180deg) scaleX(-1) translateX(16px);
    display: block;
    font-size: 40px;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

button:hover{
	color: white;
	background-color:black;
	border: 2px solid black;
}

.waiting-room button{
	margin-left:20px;
}

.waiting-room span{
	display: block;
    margin-bottom: 20px;
}

.start-screen #error{
  font-size:12px;
  margin-top:-25px;
}

.waiting-room{
	display:flex;
	max-width:80%;
	margin:0 auto;
}

#error{
  display:none;
}

.show#error{
  display:block;
}

.waiting-room div{
	flex: 1;
}

.noClick{
	opacity:1;
	pointer-events: none;
	user-select: none;
}

.round{
  margin-left:40px;
}

.timer{
	height:25px;
	width: 200px;
	background-color: black;
	animation: mymove 30s;
	animation-fill-mode: forwards;
  position: absolute;
  bottom:0;
  left:0;
  text-align: left;
}

.timer.one{
	animation-delay: 0s;
  color:white;
  background-color:black;
}

@keyframes mymove {
  from {width: 100%;}
  to {width: 0px;}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color:white;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: bold;
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}

.flip-2-hor-top-1 {
	-webkit-animation: flip-2-hor-top-1 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-2-hor-top-1 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-4 9:56:33
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-2-hor-top-1
 * ----------------------------------------
 */
@-webkit-keyframes flip-2-hor-top-1 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes flip-2-hor-top-1 {
  0% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            background-color:black;
  }
  49%{
  	background-color:black;
  }
  51%{
  	background-color:white;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

@media(max-width: 800px){
  .start-screen {
    text-align: center;
    margin-top:20px;
  }

  .waiting-room{
    flex-direction:column;
  }

  .waiting-room button{
    margin-bottom:20px;
    margin-left:0px;
    display: block;
  }

  .waiting-room a{
    text-decoration: none;
  }

  .round{
    margin-left:10px;
  }

  .round .round{
    margin-left:0px;
  }

  .judging .cards{
    flex-direction: column;
    width:100%;
    margin-top:20px;
  }

  .judging .flip-2-hor-top-1.card{
    width: 200px;
    height: 200px;
  }

  @keyframes flip-2-hor-top-1 {
    0% {
      -webkit-transform: translateY(-100%) rotateX(-180deg);
              transform: translateY(-100%) rotateX(-180deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
              background-color:black;
              margin-top: 80px;
    }
    49%{
      background-color:black;
    }
    51%{
      margin-top:80px;
      background-color:white;
    }
    100% {
        margin-top:20px;
      -webkit-transform: translateY(0) rotateX(0);
              transform: translateY(0) rotateX(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
}
